<dialog id="contact_modal" class="modal">
  <div class="modal-box">

    <h3 class="font-bold text-lg mb-4">Add New Contact</h3>

    <form hx-post="{% url 'create-contact' %}" class="mb-4">
      {% csrf_token %}

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        {{ form.name}} {% if form.name.errors %}
        <label class="label text-error"> {{ forms.name.erros }} </label>
        {% endif %}
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Email</span>
        </label>

        {{ form.email}} {% if form.email.errors %}
        <label class="label text-error"> {{ forms.email.erros }} </label>

        {% endif %}
      </div>

      <div class="modal-action">
        <button type="button" class="btn btn-soft btn-primary" onclick="contact_modal.close()">Cancel</button>
        <button type="submit" class="btn btn-success">Add Contact</button>

      </div>

    </form>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button></button>
  </form>

</dialog>
